@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

div.item {
    position: relative;
    float: right;
    min-width: 100px;
    max-width: 300px;
    text-align: center;
    overflow: hidden;
    margin: 10px 1%;
}

div.item * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

div.item img {
    width: 100%;
    vertical-align: top;
    height: 200px;
}

div.item i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 34px;
    color: #000000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}

div.item.light-blue i {
    color: #1486B2;
}

div.item.light-blue {
    background-color: #1486B2;
}

div.item.gold i {
    color: #FFAC50;
}

div.item.gold {
    background-color: #FFAC50;
}

div.item.copper i {
    color: #C45933;
}

div.item.copper {
    background-color: #C45933;
}

div.item:hover img {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

div.item:hover i {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}